Repository astropy/pyvo, pull requests merged in 2023-10, with the labels that each got.

#488 MAINT: Fix Python 3.12 comaptibility and add it to CI
  .github/workflows/ci_devtests.yml
  .github/workflows/ci_tests.yml
  docs/conf.py
  pyvo/dal/tests/test_adhoc.py
  pyvo/dal/tests/test_tap.py
  tox.ini
Labels: no-changelog-entry-needed

#490 BUG: fix SIA2 session inheritance
  CHANGES.rst
  pyvo/dal/sia2.py
Labels: bug, component: SIA

#493 MAINT: adding warning filter for numpy._core rename
  setup.cfg
Labels: no-changelog-entry-needed, infrastructure, upstream

#483 Adding support for DALI example continuation properties.
  CHANGES.rst
  pyvo/dal/tap.py
  pyvo/dal/tests/data/tap/examples.htm
  pyvo/dal/tests/data/tap/obscore-examples.html
  pyvo/dal/tests/test_tap.py
Labels: component: dal

#496 DEP: votable.tree.Table was renamed to TableElement
  docs/dal/index.rst
  pyvo/dal/adhoc.py
  pyvo/dal/query.py
  pyvo/dal/scs.py
  pyvo/dal/sia.py
  pyvo/dal/sia2.py
  pyvo/dal/sla.py
  pyvo/dal/ssa.py
  pyvo/dal/tap.py
  pyvo/dal/tests/test_query.py
Labels: no-changelog-entry-needed

#495 feat: add intersect modes for registry.Spatial constraint
  CHANGES.rst
  docs/registry/index.rst
  pyvo/registry/rtcons.py
  pyvo/registry/tests/test_rtcons.py
Labels: component: registry
