Repository astropy/pyvo, pull requests merged in 2024-07, with the labels that each got.

#559 Add datalink original row
  CHANGES.rst
  docs/dal/index.rst
  pyvo/dal/adhoc.py
  pyvo/dal/tests/test_datalink.py
Labels: enhancement, component: dal

#551 Update of the dictionaries that are used to build the MIVOT_INSTANCE
  CHANGES.rst
  docs/mivot/index.rst
  pyvo/mivot/tests/test_annotation_seeker.py
  pyvo/mivot/tests/test_mivot_instance.py
  pyvo/mivot/tests/test_mivot_instance_generation.py
  pyvo/mivot/tests/test_mivot_viewer.py
  pyvo/mivot/tests/test_resource_seeker.py
  pyvo/mivot/tests/test_static_reference.py
  pyvo/mivot/tests/test_user_api.py
  pyvo/mivot/tests/test_vizier_cs.py
  pyvo/mivot/tests/test_xml_viewer.py
  pyvo/mivot/utils/vocabulary.py
  pyvo/mivot/viewer/mivot_instance.py
Labels: Affects-dev, component: mivot

#567 Speed up registry doctest
  docs/registry/index.rst
Labels: no-changelog-entry-needed, documentation, component: registry

#574 MAINT: fixing new dependency as reshuffle CI jobs
  .github/workflows/ci_tests.yml
  README.rst
  docs/dal/index.rst
  setup.cfg
Labels: Affects-dev

#558 Adding some documentation on pyvo.samp
  docs/index.rst
  docs/samp.rst
Labels: no-changelog-entry-needed, documentation

#572 Now using DISTINCT in ivoid-selecting registry subqueries.
  CHANGES.rst
  pyvo/registry/rtcons.py
  pyvo/registry/tests/test_regtap.py
  pyvo/registry/tests/test_rtcons.py
Labels: bug, component: registry

#577 Documentation of Freetext constraint
  pyvo/registry/rtcons.py
Labels: no-changelog-entry-needed, documentation

#576 RegistryResults.get_tables now preserves table utypes.
  CHANGES.rst
  pyvo/registry/regtap.py
  pyvo/registry/tests/test_regtap.py
Labels: bug, component: registry

#580 SodaRecordMixin no longer will use a datalink#links endpoint for soda
  CHANGES.rst
  pyvo/dal/adhoc.py
Labels: bug, component: dal
