Repository astropy/pyvo, pull requests merged in 2024-10, with the labels that each got.

#582 BUG: Include port number if present
  CHANGES.rst
  pyvo/dal/tests/test_tap.py
  pyvo/dal/vosi.py
Labels: bug, component: dal

#591 Feature skycoord
  CHANGES.rst
  docs/mivot/_images/mangoEpochPosition.png
  docs/mivot/index.rst
  pyvo/mivot/features/sky_coord_builder.py
  pyvo/mivot/features/static_reference_resolver.py
  pyvo/mivot/seekers/annotation_seeker.py
  pyvo/mivot/tests/test_mivot_instance.py
  pyvo/mivot/tests/test_mivot_viewer.py
  pyvo/mivot/tests/test_sky_coord_builder.py
  pyvo/mivot/tests/test_user_api.py
  pyvo/mivot/tests/test_vizier_cs.py
  pyvo/mivot/tests/test_xml_viewer.py
  pyvo/mivot/utils/dict_utils.py
  pyvo/mivot/utils/exceptions.py
  pyvo/mivot/utils/xml_utils.py
  pyvo/mivot/viewer/mivot_instance.py
  pyvo/mivot/viewer/mivot_viewer.py
  pyvo/mivot/viewer/xml_viewer.py
Labels: Affects-dev, component: mivot

#606 MAINT: remove the usage of the astropy TestRunner
  CHANGES.rst
  conftest.py
  pyvo/_astropy_init.py
  pyvo/conftest.py
Labels: infrastructure, upstream

#608 Adding RegistryResults and RegistryResource to the registry API
  docs/registry/index.rst
  pyvo/registry/__init__.py
  pyvo/registry/regtap.py
Labels: component: registry

#470 Add global discovery
  CHANGES.rst
  docs/discover/index.rst
  docs/index.rst
  docs/utils/index.rst
  pyvo/dal/sia.py
  pyvo/discover/__init__.py
  pyvo/discover/image.py
  pyvo/discover/tests/test_imagediscovery.py
  pyvo/registry/regtap.py
  pyvo/registry/rtcons.py
  pyvo/registry/tests/data/capabilities.xml
  pyvo/registry/tests/test_regtap.py
  pyvo/registry/tests/test_rtcons.py
  pyvo/utils/testing.py
  setup.cfg
Labels: enhancement, component: registry

#610 DOC: post 1.5.3 changelog cleanup
  CHANGES.rst
Labels: no-changelog-entry-needed, documentation

#611 BUG: adding all mivot tests files
  setup.cfg
Labels: bug, Affects-dev, component: mivot

#615 CI: ignore milestone for changelog check
  .github/workflows/changelog.yml
Labels: no-changelog-entry-needed, infrastructure

#613 Getdatalink - guess or return more informative error
  CHANGES.rst
  pyvo/dal/adhoc.py
  pyvo/dal/tests/test_datalink.py
Labels: bug

#614 BUG: cleanup finally-returns
  CHANGES.rst
  pyvo/dal/query.py
Labels: bug, component: dal
