Repository astropy/pyvo, pull requests merged in 2024-06, with the labels that each got.

#561 No longer joining alt_identifier into our RegTAP template query.
  pyvo/registry/rtcons.py
Labels: bug, component: registry

#565 Fixing the TAP doctest in dal/index.rst.
  docs/dal/index.rst
Labels: no-changelog-entry-needed, documentation

#555 BUG: fix keyword arguments
  pyvo/dal/adhoc.py
  pyvo/dal/scs.py
  pyvo/dal/sia.py
Labels: bug, component: dal, Affects-dev

#553 Now passing strings to mimetypes.guess_extension.
  CHANGES.rst
  pyvo/dal/mimetype.py
  pyvo/dal/sia.py
Labels: bug, component: SIA

#557 Defuse sia title characters
  CHANGES.rst
  pyvo/dal/query.py
  pyvo/dal/tests/test_sia.py
Labels: bug, component: dal
