Repository astropy/pyvo, pull requests merged in 2025-05, with the labels that each got.

#672 fix: prevent creating SIA2Service with an URL of an other service type
  pyvo/dal/sia2.py
  pyvo/dal/tests/test_sia2.py
Labels: bug, no-changelog-entry-needed, component: SIA, Affects-dev

#674 remove essai.xml
  docs/mivot/viewer.rst
  pyvo/mivot/tests/data/essai.xml
  pyvo/mivot/tests/test_mivot_writer.py
  pyvo/mivot/tests/test_user_api.py
Labels: no-changelog-entry-needed, component: mivot

#675 MAINT: various small maintainance items
  .github/release.yml
  .mailmap
  README.rst
  docs/registry/index.rst
  tox.ini
Labels: no-changelog-entry-needed
